*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
 
}
.container_int{
    display: flex;
    height: 90px;
    width: 100%;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255);
}
.container_int::-webkit-scrollbar{
    box-shadow: 3px 3px 3px 3px grey;
}
.left {
display: flex;
margin-left: 20px;
margin-top: 20px;

}
.left img{
    width: 140px;
    height: 70px;
    margin-left: 20px;
    margin-right: 20px;
}
.pesquisa {
   margin-top: 10px;
   margin-left: 20px;
    width: 900px;
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.144);
    box-shadow: 2px 2px 3px 2px rgba(128, 128, 128, 0.226);
    border-radius: 25px;  
    align-items: center;  
    background-color: white;
    padding-top: 5px;
    
}
.pesquisa input {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    width: 92%;
    font-size: 20px;
    border: none;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    outline: none;
    padding-left: 20px;

}
.pesquisa img {   
   margin-top: 8px;
width: 25px;
height: 25px;
}
.right {
    right: 0;
    position: fixed;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-right: 20px;
}
.bola{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.bolinhas {
    display: flex;
    flex-direction: column;
    
}
.bolinha{
    height: 6px;
    width: 6px;
    background-color: grey;
    margin: 1px;
    border-radius: 3px;
}
.bola:hover  {

    background-color: rgba(67, 68, 68, 0.26);
}
.perfil {
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}
.perfil img {
   height: 50px;
   width: 50px;
   padding: 4px;
    border-radius: 23px;

}
.perfil:hover img {
    background-color: rgba(67, 68, 68, 0.26);
    
}
.menu {
    display: flex; 
    padding-top: 40px;
    padding-left: 200px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.247);
}
.itens {
    margin-top: 50px;
    font-size: 22px;
    padding: 20px 30px 20px 25px;
    text-transform: capitalize;
    cursor: pointer;
    border-bottom:3px solid white ;
}
a {
    text-decoration: none;
    color: grey;
}
.itens:hover {
border-bottom-color: blue;
}
.padding{
    padding-left: 250px;
}
.resultados{
margin:20px 0px;
}
article{
    width: 60%;
}
.titulo_resultado{
    font-size: 30px;
    color: blue;
    margin-bottom: 5px;
}
.link_resultado{
    color: green;
    margin-bottom: 5px;

}
.descricao_resultado {
    display: flex;
    margin-bottom: 20px;
}
span {
    color: grey;
}
.descricao_resultado p {
font-size: 18px;
}
.container_fundo{
    flex-direction: column;
    width: 60%;
}
.container_int2{
    display: flex;
}
.left_fundo{
    width: 50%;
    margin-right: 20px;
}
.right_fundo{
    width: 50%;
}
.titulo_relacionadas {
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 15px;
}
.texto_fundo{
    font-size: 20px;
}
.relacionadas_fundo{
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    width:100%;
    font-size: 20px;
    background-color: #d9dfe670;
    height: 66px;
    align-items: center;
    border-radius: 33px;
    padding-left:30px ;
}
.relacionadas_fundo img {   
  margin-right: 30px;
width: 25px;
height: 25px;
}
.simbol_google {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}
.simbol_letra{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pl{
    font-size: 50px;
    font-weight: 600;
    color: blue;
}
.vermelha {
    font-size: 40px;
    font-weight: 600;
    color: red;
}
.outras {
    font-size: 40px;
    font-weight: 600;
}
.seta{
    font-size: 40px;
    margin: 20px;
}
.dourado{
    color: rgb(255, 183, 1);
}
.azul{
    color: blue;
}
.verde{
    color: green;
}
.simbol_numero {
    display: flex;
    padding-left: 20px;
}
.simbol_numero .numero{
    margin-left: 10px;
    font-size: 18px;
}
.mais {
    font-size: 18px;
    margin-left: 80px;
}
